@model SearchResultViewModel
@{
    ViewData["Title"] = "Search | " + Model.CategoryQuery;
}

@*Top bar *@
<div style="border-bottom: 0.5px solid gray;">
    <form asp-controller="Search" asp-action="Index" method="get"
          style="height: 100%;"
          class="internal-form search-bar">
        <h3>
            Showing Podcasts in <span class="highlight-color">@Model.CategoryQuery</span>
        </h3>
    </form>
</div>

<div class="mt-5">
    <div>
        @await Html.PartialAsync("_ModelListDetailed", Model.Models)
    </div>
    @if (Model.TotalPages > 0)
    {
        <div class="text-center mt-5">
            @await Component.InvokeAsync("PaginationNav", Model)
        </div>
    }
</div>