@model SearchResultViewModel

@{
    ViewData["Title"] = "Search | " + Model.TermQuery;
}

@*Top bar *@
<div style="border-bottom: 0.5px solid gray;">
    <form asp-controller="Search" asp-action="Index" method="get"
          style="height: 100%;"
          class="internal-form search-bar">
        <h3>Showing results for 
        <input class="inline-input" type="text" name="q" placeholder="@Model.TermQuery" />
         in '@Model.SearchLocation'
        </h3>
    </form>
</div>

<div>
    @await Html.PartialAsync("_ModelPane", Model)
</div>
